In [6]:
!pip install h5py
!pip install typing-extensions
!pip install wheel

Requirement already satisfied: h5py in c:\users\user\anaconda3\lib\site-packages (2.10.0)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from h5py) (1.15.0)
Requirement already satisfied: numpy>=1.7 in c:\users\user\anaconda3\lib\site-packages (from h5py) (1.20.1)
Requirement already satisfied: typing-extensions in c:\users\user\anaconda3\lib\site-packages (3.7.4.3)
Requirement already satisfied: wheel in c:\users\user\anaconda3\lib\site-packages (0.36.2)

In [8]:
!pip install -q datascience                   
!pip install -q pandas-profiling              
!pip install -q yellowbrick

In [13]:
!pip install -q --user pandas

In [37]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\user\anaconda3\lib\site-packages (2.2.9)

In [60]:
!pip install googletrans

Requirement already satisfied: googletrans in c:\users\user\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: httpx==0.13.3 in c:\users\user\anaconda3\lib\site-packages (from googletrans) (0.13.3)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\users\user\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (1.5.0)
Requirement already satisfied: chardet==3.* in c:\users\user\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (3.0.4)
Requirement already satisfied: httpcore==0.9.* in c:\users\user\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (0.9.1)
Requirement already satisfied: hstspreload in c:\users\user\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (2021.12.1)
Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (2020.12.5)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (1.2.0)
Requirement already satisfied: idna==2.* in c:\users\user\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (2.10)
Requirement already satisfied: h11<0.10,>=0.8 in c:\users\user\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (0.9.0)
Requirement already satisfied: h2==3.* in c:\users\user\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (3.2.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\users\user\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\users\user\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (5.2.0)

In [2]:
import numpy as np
import pandas as pd

In [4]:
data= pd.read_csv('events_data.csv',thousands=',')
data
ed = data

In [34]:

from pandas_profiling import ProfileReport
###
profile = ProfileReport(df=data)
profile.to_file(output_file='Pre Profiling Report.html')
print('Accomplished!')
###

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Accomplished!

In [8]:
import mysql.connector
from mysql.connector import errorcode
try:
 cnx1 = mysql.connector.connect(user='student', password='student',
                              host='cpanel.insaid.co',
                              database='Capstone1')
 #cursor = cnx.cursor()
 #cursor.execute('select * from gender_age_train')
 #rows = cursor.fetchall()
 phone_brand_device = pd.read_sql_query('select * from phone_brand_device_model', con=cnx1)
 print(phone_brand_device.head())
 print(phone_brand_device.info())

except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
 cnx1.close()

             device_id phone_brand device_model
0  1877775838486905855        vivo          Y13
1 -3766087376657242966          小米         V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470          三星        A368t
4 -2015528097870762664          小米      红米Note2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   device_id     87726 non-null  int64
 1   phone_brand   87726 non-null  object
 2   device_model  87726 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB
None

In [9]:
try:
 cnx = mysql.connector.connect(user='student', password='student',
                              host='cpanel.insaid.co',
                              database='Capstone1')
 #cursor = cnx.cursor()
 #cursor.execute('select * from gender_age_train')
 #rows = cursor.fetchall()
 gender_age = pd.read_sql_query('select * from gender_age_train', con=cnx)
 print(gender_age.head())
 print(gender_age.info())

except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
 cnx.close()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  74645 non-null  int64
 1   gender     74645 non-null  object
 2   age        74645 non-null  int64
 3   group      74645 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB
None

In [13]:
ed

,event_id,device_id,timestamp,longitude,latitude,city,state
0,2765368,2.973348e+18,2016-05-07 22:52:05,77.225676,28.730140,Delhi,Delhi
1,2955066,4.734221e+18,2016-05-01 20:44:16,88.388361,22.660325,Calcutta,WestBengal
2,605968,-3.264500e+18,2016-05-02 14:23:04,77.256809,28.757906,Delhi,Delhi
3,448114,5.731369e+18,2016-05-03 13:21:16,80.343613,13.153332,Chennai,TamilNadu
4,665740,3.388880e+17,2016-05-06 03:51:05,85.997745,23.842609,Bokaro,Jharkhand
...,...,...,...,...,...,...,...
3252945,2687452,-1.937028e+18,2016-05-07 23:33:14,73.891597,18.544124,Pune,Maharashtra
3252946,1051580,3.345851e+18,2016-05-03 05:13:30,72.837258,19.018432,Mumbai,Maharashtra
3252947,1316227,-6.406040e+18,2016-05-01 16:03:28,77.235578,28.764065,Delhi,Delhi
3252948,381262,-2.920741e+18,2016-05-05 17:22:36,83.326044,17.765488,Visakhapatnam,AndhraPradesh
3252949,522592,3.212750e+18,2016-05-07 17:34:18,77.308533,9.779918,Kambam,TamilNadu

In [11]:
ga = gender_age
ga

                 device_id gender  age   group
0     -8076087639492063270      M   35  M32-38
1     -2897161552818060146      M   35  M32-38
2     -8260683887967679142      M   35  M32-38
3     -4938849341048082022      M   30  M29-31
4       245133531816851882      M   30  M29-31
...                    ...    ...  ...     ...
74640  4682031842235089751      M   30  M29-31
74641 -9178703742877135986      M   30  M29-31
74642   180946546684162312      M   20    M22-
74643  1390702386071991851      M   37  M32-38
74644    89181010588227347      M   25  M23-26

[74645 rows x 4 columns]

In [12]:
pbd = phone_brand_device
pbd

                 device_id phone_brand device_model
0      1877775838486905855        vivo          Y13
1     -3766087376657242966          小米         V183
2     -6238937574958215831        OPPO          R7s
3      8973197758510677470          三星        A368t
4     -2015528097870762664          小米      红米Note2
...                    ...         ...          ...
87721 -4961458925928574032          华为       荣耀畅玩4X
87722 -8819817317449262375          华为          荣耀6
87723 -3358291377416935026          华为        荣耀畅玩4
87724  3282788959750981633          小米         MI 2
87725  2491639413207286271          酷比           M1

[87726 rows x 3 columns]

In [15]:
ed.describe()

           event_id     device_id     longitude      latitude
count  3.252950e+06  3.252497e+06  3.252527e+06  3.252527e+06
mean   1.626476e+06  1.012200e+17  7.815868e+01  2.168851e+01
std    9.390459e+05  5.316758e+18  4.235570e+00  5.789111e+00
min    1.000000e+00 -9.222957e+18  1.256700e+01  8.190110e+00
25%    8.132382e+05 -4.540611e+18  7.583543e+01  1.780171e+01
50%    1.626476e+06  1.726820e+17  7.726814e+01  2.216454e+01
75%    2.439713e+06  4.861813e+18  8.031916e+01  2.868278e+01
max    3.252950e+06  9.222849e+18  9.545946e+01  4.187190e+01

In [16]:
ed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   event_id   int64
 1   device_id  float64
 2   timestamp  object
 3   longitude  float64
 4   latitude   float64
 5   city       object
 6   state      object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

In [17]:
ga.describe()

          device_id           age
count  7.464500e+04  74645.000000
mean  -7.491354e+14     31.410342
std    5.327150e+18      9.868735
min   -9.223067e+18      1.000000
25%   -4.617367e+18     25.000000
50%   -1.841362e+16     29.000000
75%    4.636656e+18     36.000000
max    9.222849e+18     96.000000

In [18]:
ga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  74645 non-null  int64
 1   gender     74645 non-null  object
 2   age        74645 non-null  int64
 3   group      74645 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [19]:
pbd.describe()

          device_id
count  8.772600e+04
mean  -5.212557e+15
std    5.330157e+18
min   -9.223322e+18
25%   -4.623331e+18
50%   -3.109802e+16
75%    4.635194e+18
max    9.222849e+18

In [20]:
pbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   device_id     87726 non-null  int64
 1   phone_brand   87726 non-null  object
 2   device_model  87726 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [26]:
merged1 = pd.merge(left=pbd, right=ed, on='device_id')
merged1

,device_id,phone_brand,device_model,event_id,timestamp,longitude,latitude,city,state
0,-6552729385743211,vivo,X3T,3078973,2016-05-07 21:41:38,78.487472,17.338947,Rajendranagar,AndhraPradesh
1,-6552729385743211,vivo,X3T,695286,2016-05-07 22:40:59,78.487472,17.338947,Rajendranagar,AndhraPradesh
2,-6552729385743211,vivo,X3T,2866467,2016-05-07 22:42:31,78.487472,17.338947,Rajendranagar,AndhraPradesh
3,-6552729385743211,vivo,X3T,2816043,2016-05-04 22:31:13,78.487472,17.338947,Rajendranagar,AndhraPradesh
4,-6552729385743211,vivo,X3T,2135433,2016-05-04 22:13:20,78.487472,17.338947,Rajendranagar,AndhraPradesh
...,...,...,...,...,...,...,...,...,...
16977,35661017933917548,酷派,F2,2679034,2016-05-04 20:50:53,88.437580,22.632748,Calcutta,WestBengal
16978,35661017933917548,酷派,F2,280992,2016-05-04 14:33:47,88.437580,22.632748,Calcutta,WestBengal
16979,35661017933917548,酷派,F2,739645,2016-05-03 18:29:05,88.437580,22.632748,Calcutta,WestBengal
16980,35661017933917548,酷派,F2,862412,2016-05-05 08:39:14,88.437580,22.632748,Calcutta,WestBengal
16981,35661017933917548,酷派,F2,1015879,2016-05-04 15:02:35,88.437580,22.632748,Calcutta,WestBengal

In [28]:
merged2 = pd.merge(left=merged1, right=ga, on='device_id')
merged2

,device_id,phone_brand,device_model,event_id,timestamp,longitude,latitude,city,state,gender,age,group
0,-6552729385743211,vivo,X3T,3078973,2016-05-07 21:41:38,78.487472,17.338947,Rajendranagar,AndhraPradesh,M,28,M27-28
1,-6552729385743211,vivo,X3T,695286,2016-05-07 22:40:59,78.487472,17.338947,Rajendranagar,AndhraPradesh,M,28,M27-28
2,-6552729385743211,vivo,X3T,2866467,2016-05-07 22:42:31,78.487472,17.338947,Rajendranagar,AndhraPradesh,M,28,M27-28
3,-6552729385743211,vivo,X3T,2816043,2016-05-04 22:31:13,78.487472,17.338947,Rajendranagar,AndhraPradesh,M,28,M27-28
4,-6552729385743211,vivo,X3T,2135433,2016-05-04 22:13:20,78.487472,17.338947,Rajendranagar,AndhraPradesh,M,28,M27-28
...,...,...,...,...,...,...,...,...,...,...,...,...
16977,35661017933917548,酷派,F2,2679034,2016-05-04 20:50:53,88.437580,22.632748,Calcutta,WestBengal,F,32,F29-32
16978,35661017933917548,酷派,F2,280992,2016-05-04 14:33:47,88.437580,22.632748,Calcutta,WestBengal,F,32,F29-32
16979,35661017933917548,酷派,F2,739645,2016-05-03 18:29:05,88.437580,22.632748,Calcutta,WestBengal,F,32,F29-32
16980,35661017933917548,酷派,F2,862412,2016-05-05 08:39:14,88.437580,22.632748,Calcutta,WestBengal,F,32,F29-32
16981,35661017933917548,酷派,F2,1015879,2016-05-04 15:02:35,88.437580,22.632748,Calcutta,WestBengal,F,32,F29-32

In [31]:
merged2.describe()

          device_id      event_id     longitude      latitude           age
count  1.698200e+04  1.698200e+04  16982.000000  16982.000000  16982.000000
mean   1.747888e+17  1.629002e+06     77.586701     21.232838     32.433518
std    2.196515e+18  9.368065e+05      4.364865      5.495319      9.155786
min   -9.086138e+18  2.880000e+02     69.677548      8.883912     10.000000
25%   -4.973076e+16  8.204910e+05     75.819181     18.506788     26.000000
50%    3.950346e+15  1.627304e+06     77.078352     22.608837     30.000000
75%    1.274328e+17  2.447712e+06     80.143569     26.567374     36.000000
max    8.765877e+18  3.252680e+06     94.190182     33.749656     79.000000

In [33]:
ed['device_id'].unique

<bound method Series.unique of 0          2.973348e+18
1          4.734221e+18
2         -3.264500e+18
3          5.731369e+18
4          3.388880e+17
               ...
3252945   -1.937028e+18
3252946    3.345851e+18
3252947   -6.406040e+18
3252948   -2.920741e+18
3252949    3.212750e+18
Name: device_id, Length: 3252950, dtype: float64>

In [34]:
pbd['device_id'].unique

<bound method Series.unique of 0        1877775838486905855
1       -3766087376657242966
2       -6238937574958215831
3        8973197758510677470
4       -2015528097870762664
                ...
87721   -4961458925928574032
87722   -8819817317449262375
87723   -3358291377416935026
87724    3282788959750981633
87725    2491639413207286271
Name: device_id, Length: 87726, dtype: int64>

In [35]:
ga['device_id'].unique

<bound method Series.unique of 0       -8076087639492063270
1       -2897161552818060146
2       -8260683887967679142
3       -4938849341048082022
4         245133531816851882
                ...
74640    4682031842235089751
74641   -9178703742877135986
74642     180946546684162312
74643    1390702386071991851
74644      89181010588227347
Name: device_id, Length: 74645, dtype: int64>

In [36]:
ed['event_id'].unique

<bound method Series.unique of 0          2765368
1          2955066
2           605968
3           448114
4           665740
            ...
3252945    2687452
3252946    1051580
3252947    1316227
3252948     381262
3252949     522592
Name: event_id, Length: 3252950, dtype: int64>

In [39]:
merged2['phone_brand'].value_counts()

三星      4704
小米      4403
华为      2116
vivo    1781
OPPO    1103
魅族       955
酷派       759
HTC      336
乐视       287
优米       194
天语        92
普耐尔       40
波导        38
一加        35
宝捷讯       29
中国移动      21
联想        20
努比亚       18
亿通        17
美图        13
酷比魔方       8
酷比         5
LG         3
米歌         3
朵唯         1
锤子         1
Name: phone_brand, dtype: int64

In [50]:
Chinese_brands1 = merged2['phone_brand'].value_counts().index.tolist()
Chinese_brands1

['三星',
 '小米',
 '华为',
 'vivo',
 'OPPO',
 '魅族',
 '酷派',
 'HTC',
 '乐视',
 '优米',
 '天语',
 '普耐尔',
 '波导',
 '一加',
 '宝捷讯',
 '中国移动',
 '联想 ',
 '努比亚',
 '亿通',
 '美图',
 '酷比魔方',
 '酷比',
 'LG',
 '米歌',
 '朵唯',
 '锤子']

In [55]:
type(Chinese_brands1)

list

In [67]:

from googletrans import Translator
translator = Translator()

In [68]:
langs = translator.detect(['한국어', '日本語', 'English', 'le français'])
for lang in langs:
    print(lang.lang, lang.confidence)

ConnectError: [Errno 11001] getaddrinfo failed